/*向左*/
.@{css-prefix}turn-left{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #57636F;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    -webkit-transform: rotate(130deg);
    border-radius: 4px;
}
.@{css-prefix}turn-left:after{
    content: '/';
    display: block;
    width: 10px;
    height: 2px;
    background: #57636F;
    -webkit-transform: rotate(-75deg) translateY(255%) translateX(65%);
    border-radius: 4px;
}
/*向右*/
.@{css-prefix}turn-right{
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #57636F;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    -webkit-transform: rotate(-130deg);
    border-radius: 4px;
}
.@{css-prefix}turn-right:after{
    content: '/';
    display: block;
    width: 10px;
    height: 2px;
    background: #57636F;
    -webkit-transform: rotate(79deg) translateY(255%) translateX(-65%);
    border-radius: 4px;
}
/*小三角向下*/
.@{css-prefix}down{
    position: relative;
}
.@{css-prefix}down:after{
    content: "";
    border: 8px solid #fff;
    border-top-color: #57636F;
    width: 0;
    height: 0;
    position: absolute;
}
/*叉*/
.@{css-prefix}delete{
    display: inline-block;
	width: 14px;
	height: 2px;
	background: #D2D7DD;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	border-radius: 4px;
	-webkit-transform: rotate(45deg);
}
.@{css-prefix}delete:after{
    content: '/';
	display: block;
	width: 14px;
	height: 2px;
	background: #D2D7DD;
	border-radius: 4px;
	-webkit-transform: rotate(-90deg);
}

/*搜索图标*/
.@{css-prefix}search{
    position: relative;
}
.@{css-prefix}search:before{
    display: inline-block;
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.@{css-prefix}search:after{
    position: absolute;
    display: inline-block;
    content: "";
    width: 1px;
    height: 5px;
    border: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    top: 8px;
    right: -1px;
}